.wrapper {
    min-height: 100%;
    padding-bottom: 0px;
    background-image: url(http://images2.fanpop.com/image/photos/9400000/Aaaaaawwwwwwwwww-Sweet-puppies-9415255-500-375.jpg);
    background-size: 100%;
    height: 100%;
    width: 100%;
  }
  